<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
    <title>Orders Summary</title>
</head>
<body>
    <div class="container">
        <div style="text-align: center;"><h5>Orders Summary Report</h5></div>
        <div class="col-md-10">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th> Order # </th>
                    <th> Customer </th>
                    <th> Ordered On </th>
                    <th> Status </th>
                    <th> Delivered On </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${orders.empty}">
                    <td colspan="2"> No Orders Available </td>
                </tr>
                <tr th:each="order : ${orders}">
                    <td><span th:text="${order.id}"> Id </span></td>
                    <td><span th:text="${order.customer.title} + ' ' + ${order.customer.first_name} + ' ' + ${order.customer.last_name}"> Customer </span></td>
                    <td><span th:text="${order.order_date}"> Order Date </span></td>
                    <td><span th:text="${order.arrival_date} == null ? 'PENDING' : 'DELIVERED'"> Order Date </span></td>
                    <td><span th:text="${order.arrival_date} == null ? 'N/A' : ${order.arrival_date}"> Order Date </span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>
